<!-- assessment.html -->
<div class="container" oncontextmenu='return false'>
	<div>
		<div ng-show="debug">{{tests}}</div>
		
		<div ng-show="debug">
			<div class="row">
				<label class="col-sm-3">ID</label><div class="col-sm-4">{{asm.assessmentId}}</div>
			</div>
			<div class="row">
				<label class="col-sm-3">Title</label><div class="col-sm-4">{{asm.assessmentText}}</div>
			</div>
			<div class="row">
				<label class="col-sm-3"># of Blocks</label><div class="col-sm-4">{{asm.getNumberOfBlocks()}}</div>
				<div class="row">
					<div class="col-sm-12" ng-repeat="qBlock in asm.getSortedQuestionBlocks()">
						<div ng-show="debug" style="display:none">
							<div class="row"><label class="col-sm-3">QB ID</label><div class="col-sm-4">{{qBlock.qBlockId}}</div></div>
							<div class="row"><label class="col-sm-3">QB Title</label><div class="col-sm-4">{{qBlock.qBlockText}}</div></div>
							<div class="row"><label class="col-sm-3">#Q</label><div class="col-sm-4">{{qBlock.qBlockQuestions.length}}</div></div>
							<div class="row"><label class="col-sm-3">#Q Selected</label><div class="col-sm-4">{{asm.getNumOfSelectedQuestionsInQBlock(qBlock.qBlockId)}}</div></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row" ng-show="!asm.isAllQuestions">
				<label class="col-sm-3"># of Questions</label><div class="col-sm-4">{{asm.askNumOfQuestions}}</div>
			</div>
			<div class="row">
				<label class="col-sm-3">Ask all of Questions</label><div class="col-sm-4">{{asm.isAllQuestions}}</div>
			</div>
			<div class="row">
				<label class="col-sm-3">#Selected Questions</label><div class="col-sm-4">{{asm.getNumOfSelectedQuestions()}}</div>
			</div>
			<div class="row">
				<label class="col-sm-3">Random Blocks </label><div class="col-sm-4">{{asm.assessmentQBlockRandomizeFlag}}</div>
			</div>
			<div class="row">
				<label class="col-sm-3">Active</label><div class="col-sm-4">{{asm.assessmentFlag}}</div>
			</div>
		</div>
		
		<div>
			<div class="container">
				<div id="printableArea">
					<div class="row"><div class="col-sm-12"><h3>{{asm.assessmentText}}</h3><hr/></div></div>
					<div class="row">
						<div class="col-sm-12" ng-repeat="qBlock in asm.getSortedQuestionBlocks()">
							<div ng-show="asm.assessmentQBlockTextFlag =='1'" class="row"><div class="col-sm-9"><u><h4>{{qBlock.qBlockText}}</h4></u></div></div>
							<ol class="{{(($index > 0)? 'continue' : 'start')}}">
								<div ng-repeat="qtn in asm.getSortedQuestions(qBlock.qBlockId)">
									<li>{{qtn.questionText}} [{{qtn.order}}] [{{qtn.questionType}}]</li>
									<ul>
										<div ng-repeat="qchs in asm.getSortedQChoice(qtn.questionId)">
											<li> 
												<input type="{{qtn.questionType=='single'? 'radio':'checkbox'}}" name="{{qtn.questionId}}" id="{{qchs.answerId}}" value="{{qchs.answerId}}" ng-click="questionChoice(this)">
												<label for="{{qchs.answerId}}">{{qchs.answerText}}<span ng-show="((showAnswers) && (qchs.answerCorrectFlag =='1'))">-- 1</span></label>
											</li>
										</div>
									</ul>
								</div>
							</ol>
						</div>
						<hr/>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" ng-click="loadResource()">Cancel</button>
					<button type="submit" class="btn btn-primary" ng-click="validateAssessment()">Submit</button>
					<!-- <button type="submit" class="btn btn-primary" ng-click="printAssessment('printableArea')">Print</button> -->
				</div>
			</div>
			<!-- Modal HTML -->
			<div id="myModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Confirmation</h4>
						</div>
						<div class="modal-body">
							<p>{{asmFriendlyMssg}}</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="evaluateAssessment()">Ok</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>